/*******************  *******************/
html {
  scroll-behavior: smooth;
}
/******************* "HERO IMAGE" *******************/
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: 'Oswald', sans-serif;
  font-size: 130%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 170%;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 170%;
}

.heroimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../imagenes/CV21.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.herotex {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(163, 52, 18);
}

/**Videos responsive**/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 30px;
  left: 15%;
  width: 70%;
  height: 70%;
}

/******************* LaBarritaDeArriba *******************/
.MyBarrita {
  overflow: hidden;
  background-color: rgba(32, 32, 32, 0.411);
  position: fixed;
  top: 0;
  width: 100%;
}

.MyBarrita a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.MyBarrita a:hover {
  background-color: #ddd;
  color: rgb(29, 29, 29);
}

.MyBarrita a.active {
  background-color: rgba(32, 32, 32, 0.411);
  color: white;
}

.MyBarrita .icon {
  display: none;
}

@media screen and (max-width: 750px) {
  .MyBarrita a:not(:first-child) {display: none;}
  .MyBarrita a.icon {
    float: right;
    display: block;
  }
}
  .MyBarrita.responsive {position: fixed;}
  .MyBarrita.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .MyBarrita.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

/******************* MAIN *******************/
.Cuerpo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../imagenes/CV21.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 40PX;
  padding-top: 40px;
}

.Cuerpo h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.Cuerpo p {
  margin: 0%;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

.separadorcuerpo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../imagenes/CV21.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 500PX;
}

/**VR y cosas sobre ella**/
.VR {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../imagenes/screendoor.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 40PX;
}

.VR h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.VR h2 {
  margin: 0%;
  color: rgb(221, 158, 22);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.VR p {
  margin: 0%;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/**Imágenes centradas**/
.centrado {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

@media screen and (max-width: 1000px) { /**Esto se destroza un poquito al bajar, por eso lo pongo**/
  .centrado {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .centrado {
    width: 70%;
  }
}

.VR img {
  padding-top: 40px;
}

/**PCVR**/
.PCVR {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../imagenes/PCVR.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 40PX;
}

.PCVR h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.PCVR h2 {
  margin: 0%;
  color: rgb(182, 117, 55);
  text-align: center;
  padding: 40px;
}

.PCVR p {
  margin: 0%;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/**<div class="StandAlone">**/
.StandAlone {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../imagenes/oculus-quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.StandAlone h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.StandAlone h2 {
  margin: 0%;
  color: rgb(182, 117, 55);
  text-align: center;
  padding: 40px;
}

.StandAlone p {
  margin: 0%;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/**Quest**/
.Quest {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../imagenes/oculus-quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 40PX;
}

.Quest h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.Quest h2 {
  margin: 0%;
  color: rgb(182, 117, 55);
  text-align: center;
  padding: 40px;
}

.Quest p {
  margin: 0%;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/**WMR**/
.WMR {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(../imagenes/Acer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 40PX;
}

.WMR h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.WMR h2 {
  margin: 0%;
  color: rgb(182, 117, 55);
  text-align: center;
  padding: 40px;
}

.WMR p {
  margin: 0%;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/**Dónde informarse?**/
.Informarse {
  background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829)), url(../imagenes/informarse.png); /**Es feillo pero queda bien, eso si el h1... uf**/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 40PX;
}

.Informarse h1 {
  margin: 0%;
  color: rgb(163, 52, 18); /**Ese fondo y esto se llevan muy mal, por ello le voy a bajar la transparencia al fondo, que no quiero que de repente h1 sea gris o rosa o a saber**/
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.Informarse h2 {
  margin: 0%;
  color: rgb(182, 117, 55);
  text-align: center;
  padding: 40px;
}

.Informarse p {
  margin: 0%;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/**La tablita con cosas del MAIN**/
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div { /**Todo esto lo he hecho yo a mano, para nada es sacado de GitHub**/
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out; /**Regalito, me voy a merendar https://pics.me.me/css-sucks-webdevelopment-in-a-nutshell-43196018.png**/
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

/**FAQ**/
.FAQ {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../imagenes/halflife_alyx_10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 40PX;
  padding-top: 40px;
}

.FAQ h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.FAQ h2 {
  margin: 0%;
  color: rgb(182, 117, 55);
  text-align: center;
  padding: 40px;
}

.FAQ p {
  margin: 30px;
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/******************* FOOTER *******************/
.footer {
  background-color: black;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.footer h1 {
  margin: 0%;
  color: rgb(163, 52, 18);
  text-align: center;
  padding: 40px;
}

.footer p {
  margin: 0%;
  color: white;
  text-align: center;
  text-shadow: 8px 8px 8px rgb(0, 0, 0)
}

/**Tablas comparativas**/
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 5%;
  margin-top: 5%;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  color: white;
}

table tr {
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  color: white;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 750px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
    color: white;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


/**Slideshow**/
